apiVersion: apps/v1
kind: Deployment
metadata:
  name: worldweb
spec:
  selector:
    matchLabels:
      app: worldweb
  template:
    metadata:
      labels:
        app: worldweb
    spec:
      containers:
      - name: worldwebcontainer
        image: melihselamiurkmez/worldweb:1.1
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: worldweb-melih
spec:
  selector:
    app: worldweb
  ports:
  - port: 8080
    targetPort: 80
  type: LoadBalancer  

